/* Set root defaults */
:root {
    background-color: #34495E;
    color: #FDFEFE;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;  
}
/* Set core body defaults */
body {  
  display:grid; 
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  font-weight: bold;  
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0;
  margin-top: 4px;
  padding: 1px;
}
.gender ul {
    padding: 0;
}

/* Custom class and id definitions */
.head-container {    
    display: grid;
    height: 70px;
    grid-template-columns: 7% 43% 50%;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    box-shadow: 1px 1px 15px #F4F6F6;
}
.child {
    height: 70px;
}
#hlogo {
    width: 70px;
    height: 70px;    
}
#ptitle {    
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    color: #FDFEFE;
    height: 70px;
}
.child menu {
    display: grid;    
    align-self:center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
} 
#ulmenu {
    display: grid;
    grid-template-columns: 17% 17% 22% 22% 22%;
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;   
    align-items: center; 
    height: 40px;
}
#ulmenu :hover {
    background-color: #000;
    border-radius: 20px;
    cursor: pointer;   
    line-height: 40px;   
}
#hotels, #beaches, #restaurants, #destinations, #things {    
    text-align: center;    
    align-items: center;
    justify-content: center;
    display: table-cell;
    color: #FFFFFF;
}
.main-container {    
    display: grid;    
    grid-template-columns: 50% 25% 25%;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}
#islot {
    list-style-type: none;
    padding-inline-start: 2px;
}
#pics {
    height: 400px;
    width: 600px;
}
#myChart {
    width: 300px;
    height: 300px;
}
#myMap {
    width: 570px;
    height: 400px;
    vertical-align:top;
    display: inline-block;
}
